.carousel-caption p {
  color: white; }

h1 {
  font-size: 1em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 4em; }

h5 {
  font-size: 5em; }

h6 {
  font-size: 6em; }

.icon-twitter {
  background-color: white; }

.icon-facebook {
  background-color: white; }

.icon-gmail {
  background-color: white; }

.logoPrincipal {
  width: fit-content;
  text-align: center;
  margin: 0 auto; }
  .logoPrincipal img {
    width: 56px;
    height: auto; }
  .logoPrincipal p {
    font-family: 'Bebas Neue', Calibri, sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    font-size: 1.7rem;
    color: white;
    text-shadow: 0 0 2px #5f0f40, 0 0 2px #5f0f40;
    line-height: 20px;
    margin: 0; }
  .logoPrincipal span {
    display: block;
    font-size: 20px; }

#logoRedesMenu {
  z-index: 999; }
  #logoRedesMenu .navbar li {
    transition: all .5s ease;
    text-align: center; }
    #logoRedesMenu .navbar li:hover {
      transform: scale(1.1, 1.1) rotate(3deg); }
  #logoRedesMenu a::before {
    font-family: FontAwesome;
    color: #ffffff;
    margin-right: 5px; }
  #logoRedesMenu a.inicio::before {
    content: '\f015'; }
  #logoRedesMenu a.somos::before {
    content: '\f0c0'; }
  #logoRedesMenu a.hacemos::before {
    content: '\f560'; }
  #logoRedesMenu a.galeria::before {
    content: '\f87c'; }
  #logoRedesMenu a.contacto::before {
    content: '\f1d8'; }
  #logoRedesMenu a.dropdown-item::before {
    color: grey; }
  #logoRedesMenu a.dropdown-item.fotos::before {
    content: '\f03e'; }
  #logoRedesMenu a.dropdown-item.videos::before {
    content: '\f008'; }

.redes-osc {
  display: flex;
  align-items: center; }
  .redes-osc a.nav-link {
    padding: 0 5px;
    font-size: 18px;
    margin: 0 auto; }

h1 {
  font-size: 1em;
  font-weight: 900;
  color: green; }

.navbar-collapse {
  z-index: 2; }

.donarFixed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2; }
  .donarFixed .heart-beat {
    animation: Latido 3s infinite;
    color: white;
    margin-right: 5px; }

@keyframes Latido {
  0% {
    transform: scale(1);
    background-color: transparent; }
  7% {
    transform: scale(1.2); }
  12% {
    transform: scale(1.1); }
  20% {
    transform: scale(1.3); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.99); } }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.galeriaImg {
  object-fit: cover;
  display: block; }
  .galeriaImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease; }
    .galeriaImg img:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15vw 15vw 20vw 30vw;
  grid-gap: 5px 5px;
  grid-template-areas: "galeria_img_01 galeria_img_02 galeria_img_05 galeria_img_05" "galeria_img_03 galeria_img_04 galeria_img_05 galeria_img_05" "galeria_img_06 galeria_img_06 galeria_img_07 galeria_img_07" "galeria_img_08 galeria_img_08 galeria_img_08 galeria_img_08"; }

.galeria_img_01 {
  grid-area: galeria_img_01; }

.galeria_img_02 {
  grid-area: galeria_img_02; }

.galeria_img_03 {
  grid-area: galeria_img_03; }

.galeria_img_04 {
  grid-area: galeria_img_04; }

.galeria_img_05 {
  grid-area: galeria_img_05; }

.galeria_img_06 {
  grid-area: galeria_img_06; }

.galeria_img_07 {
  grid-area: galeria_img_07; }

.galeria_img_08 {
  grid-area: galeria_img_08; }

footer {
  padding: 20px;
  bottom: 0;
  margin: 20px auto 0;
  background: linear-gradient(359deg, #5f0f40, #0f4c5c);
  background-size: 400% 400%;
  animation: FooterTransition 7s ease infinite; }
  footer .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }

.contacto-p p {
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  margin: 0; }

.redes-footer {
  display: flex;
  flex-wrap: wrap; }
  .redes-footer a.nav-link {
    color: white;
    font-size: 1.5rem;
    padding: 7px;
    transition: all 0.5s ease;
    margin: 0 10px; }
    .redes-footer a.nav-link:hover {
      background-color: #5f0f40; }

@keyframes FooterTransition {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 50% 0%; } }

.producciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .producciones .produccion {
    margin: 10px;
    position: relative; }
    .producciones .produccion a {
      display: block; }
    .producciones .produccion img {
      height: 175px;
      width: auto;
      border: 2px #b7b700 solid;
      border-radius: 7px;
      transition: box-shadow .2s; }
    .producciones .produccion:hover {
      box-shadow: 0px 0px 20px 4px #f7ca18;
      transition: box-shadow .2s; }
    .producciones .produccion .playbtn {
      position: absolute; }
      .producciones .produccion .playbtn:before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 100;
        content: "\f167";
        color: red;
        font-size: 1.5em;
        line-height: 1em;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 30%;
        padding: 0px 2px;
        position: absolute;
        left: -10px;
        top: -10px; }
